
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
  background-color: rgb(73, 224, 149) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
