.toggle-btn{
    background-color: rgb(176, 21, 182);
    color: #fff;
    padding: 10px;
    font-size: 26px;
    border-radius: 15px;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    cursor: pointer;
}