.title{
    text-align: center;
    margin-bottom: 4rem;
}
.title h2{
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 300;
    color: var(--dark-text);
}
.title p{
    font-size: 1.4rem;
    color: var(--dark-text);
}
.features-content{
    display: flex;
}
.features-content .features-right{
    width: 50%;
}
.features-content .features-right img{
    width: 65%;
}
.features-content .features-left{
    width: 50%;
}
.features-content .features-left .feature{
    margin-bottom: 2rem;
    display: flex;
}
