#footer {
    background: var(--dark-blue);
    color: #fff;
}

.footer {
    display: flex;
    /* background: gold; */
    justify-content: space-between;
}

.quick-access {
    width: 20%;
    /* background: blue; */
}

.footer h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.footer .footer-links {
    display: flex;
    flex-direction: column;
}

.footer .footer-links a {
    font-size: 1.2rem;
}

.support {
    /* background: red; */
    width: 20%;
}

.contact {
    width: 20%;
    /* background: green; */
}

.contact p {
    font-size: 1.2rem;
}

.footer-logo {
    width: 25%;
    /* background: purple; */
}

@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .quick-access{
        width: 50%;
    }
    .support {
        width: 50%;
    }
    .contact {
        width: 50%;
    }
    .footer-logo {
        width: 50%;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .quick-access{
        width: 100%;
        margin-bottom: 2rem;
    }
    .support {
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact {
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-logo {
        width: 100%;
        margin-bottom: 2rem;
    }
}