
.search-bar{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.input-group{
    width: 500px !important;
    padding: 5px 25px;
}
.btn-danger{
    font-size: 15px !important;
}
.form-control{
direction: rtl;
}