
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

